<%# サービス内容 %>
<div id="box1">
  <div class="container">
    <div class="row top-summary">
      <div class="col-sm-6 col-md-6 col-lg-5">
        <%#= image_tag 'iphone.png', class: "iphone" %>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-7">
        <div class="top-message">
          <h1><strong>その悩み、プロに聞いてみよう。</strong></h1>
          <div class="background"></div>
          <h4><strong>E.Score は様々な悩みを持つ人と</strong></h4>
          <h4><strong>それを解決するプロをつなげるサービスです。</strong></h4>
          <p><%= link_to "今すぐ新規登録", "#", class: "btn btn-lg top-registration-btn" %></p>
          <p style="font-size: small;">ポートフォリオ用にゲストログイン機能を実装しております。<%= link_to "こちら", "#" %>からお進みください。</p>
        </div>
      </div>
    </div>
  </div>
</div>