/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "home.scss";
@import "header.scss";
@import "footer.scss";

// ここからbody(全ページの共通部分)
.body{
  margin-bottom: 130px;
  background-color: #fff;
  color: #363636;
}

.wrapper{
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.error_message{
  color: #721c24;
}

a{
  color: #17a2b8;
}

.titleHr{
  margin-top: 10px;
  border-top: 1px solid #e9eef1;

}

.content{
  margin-top: 10px;
}

.show-message{
  float: right;
  margin-bottom: 10px;
}

.follower-face{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

// 退会ページ
.unsubscribe{
  padding-top: 150px;
}

// ここからジャンル表示
.genre-list{
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px #e9eef1 solid;
}

.genre-item{
  margin: 10px;
}

.all-genre-item{
  margin-left: 50px;
}
// ここまでジャンル表示

// ここから記事表示
.article-content{
  background-color: #fff;
  background-clip: border-box;
  float: left;
  font-size: small;
  margin-top: 25px;
  height: 380px;
}

.article-title{
  clear: both;
}

.aticle-image-top{
  border-radius: 3%;
  width: 100%;
}

.article-info{
  color: #787c7b;
}

.articleHr{
  margin: 30px 0 30px 0;
  border-top: 1px solid #e9eef1;
}
// ここまで記事表示

// ここからサイドバー
.favorite-ranking{
  float: left;
  margin-bottom: 10px;
  font-size: small;
  display: block;
}
// ここまでサイドバー

// ここからお気に入り
.favorite-count{
  float: left;
}

.favorite-button{
  float: right;
}
// ここまでお気に入り

// ここからページネーション
.pagination-col{
  position: absolute;
  bottom: -120px;
}

.pagination {
  justify-content: center;
}

.page-link{
  color: #17a2b8;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
// ここまでページネーション

// 個人会員マイページprofile_image
.my-image{
  width: 155px;
  height: 155px;
  border-radius: 50%;
}

// ここから専門家リスト
.company-image{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
}

.companyHr{
  margin-top: 15px;
  border-top: 1px solid #e9eef1;
}
// ここまで専門家リスト

// ここから専門家詳細
.company-header{
  object-fit: cover;
  margin-bottom: 20px;
  width: 100%;
  height: 320px;
}

.company-various-count{
  float: left;
  margin-right: 33px;
}
// ここまで専門家詳細

// この話をもっと聞きたいボタン
.hear-more{
  background-image: linear-gradient(260deg, #00c4c4, #0d93e0);
  border-radius: 50px;
  color: #fff;
}

// DM開始ボタン
.enter-dm{
  color: #fff;
  background-image: linear-gradient(260deg, #00c4c4, #0d93e0);
  border-radius: 50px;
  width: 240px;
}

// ここからDM
.self-hukidashi{
  float: right;
  margin-bottom: 20px;
  background-color: #eff8f7;
}

.self-face{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 10px;
  float: right;
}

.opponent-hukidashi{
  margin-bottom: 20px;
  background-color: #eef1f8fa;
}

.opponent-face{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  float: left;
}
// ここまでDM

// ここから通知
#notification-badge{
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background-color: #e82a2a;
  color: #fff;
  text-align: center;
  line-height: 18px;
  margin-bottom: 6px;
}

.notification-face{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 30px;
  margin-left: 10px;
  float: left;
}
// ここまで通知

// 管理者コメント
.admin-comment{
  color: #e67d0e;
  font-size: small;
}