// ここからフッター
footer{
  width: 100%;
  background-image: linear-gradient(260deg, #00c4c4, #1275a0);
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 15px 0 15px 0;
}

.footer-logo{
  width: 120px;
  float: left;
}
// ここまでフッター