header{ //さらに微調整
  margin-bottom: 80px;
}

.header-nav{ //ヘッダー大枠
  color:#128da0;
  background-color: #fefefe;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 5px #128da0 solid;
  border-bottom: 1px #d9d9d9 solid;

  .nav-item{ //ナビゲーション要素
    a{
      color: #128da0;
      text-decoration: none;
      margin: 0 25px 0 5px;
    }
  }
  .login-person{ //?
    color: #787e81;
    text-decoration: none;
  }
}

.nav-tabs{ //?
  margin-bottom: 35px;
}

//ハンバーガーメニュー
.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
}

//左端のタイトルリンク
.navbar-brand{
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  font-size: 25px;
}